.blog {
    background-color: #f7f7f7;
    padding-top: 145px;
    padding-bottom: 150px;

    .posts {
        display: flex;
    }

    // .post-mini {
    //     display: flex;
    //     flex-direction: column;
    // }

    .main-post{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        height: 675px;
        .post-info{
            margin-left: 50px;
            margin-top: -50px;
            padding-bottom: 35px;
        }
        .post-content{
            padding: 0 50px 35px 50px;
            p{
                margin-top: 35px;
            }
        }
    }
    .post{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        padding: 30px 40px;
        margin-bottom: 23px;
        margin-left: 30px;
//         width: 555px;
  height: 210px;
        .post-content p{
            // margin-top: 21px;
            // margin-bottom: 35px;
        }
    }

    .post-info {
        display: flex;
        align-content: center;
        
        h3 {
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.33;
            letter-spacing: normal;
            color: #fc5f45;
        }

        p {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.69;
            letter-spacing: normal;
            margin-left: 20px;

        }
    }

    .post-title {
        // 
        font-size: 20px;
        font-weight: 500;
        letter-spacing: normal;
        color: #272727;
    }

    .post-desc {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        // text-align: left;
        line-height: 1.8;
        color: #616161;

        a {
            font-weight: 500;
            color: #272727;
        }
    }
    .post_primary{
        h3.author{
            color: $primary;
        }
        border-bottom: solid 3px $primary;
    }
    .post_green{
        h3.author{
            color: $green;
        }
        a{
            color: $green;
        }
        border-bottom: solid 3px $green;
    }
    .post_purple{
        h3.author{
            color: $purple;
        }
        a{
            color: $purple;
        }
        border-bottom: solid 3px $purple;
    }
    .post_orange{
        h3.author{
            color: $orange;
        }
        a{
            color: $orange;
        }
        border-bottom: solid 3px $orange;
    }
}