.footer-nav {
    padding-bottom: 130px;

    .nav_bottom {
        background-color: #3f4049;
        display: flex;
        justify-content: space-around;
    }

    .footer-item {
        padding: 64px 0;
        .logo img {
            padding-top: 30px;
            padding-bottom: 35px;
        }

        p {
            padding-top: 20px;
            font-family: Poppins;
            font-size: 16px;
            line-height: 1.69;
            color: #fef4f2;
        }

        h3 {
            font-size: 18px;
            font-weight: 500;
        }
        .social{
            padding-top: 20px;
            svg{
                margin-right: 15px;
            }
        }
        
    }
    .footer-item_green{
        color: $green;
    }
    .footer-item_purple{
        color: $purple;
    }
    .footer-item_orange{
        color: $orange;
    }
}

footer {
    background: url(../img/6.jpg) no-repeat;
    background-size: cover;
}

@media (max-width:990px){
    .footer-nav .footer-item {
        padding: 64px 30px;
    }
}
@media (max-width:$mediaTablet){
    .bottom-nav{
        flex-direction: column;
        text-align: center;
    }
}