@import "../mixins/media";



header {
    background: url(../img/header-background.png) center center;
}

.top-header {
    padding: 24px 0;
    background: $white;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .top-header__nav {
        .menu {
            display: flex;
            margin: 0;

            .menu__item {
                list-style: none;
                margin-left: 30px;

                .menu__link {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.93;
                    letter-spacing: normal;
                    color: #272727;
                }
            }
        }
    }
}

.content {
    text-align: center;

    .content__title {
        margin-top: 150px;
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: $white;
    }

    .content__btn {
        border-radius: 25px;
        background-color: $primary;
        padding: 15px 40px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 5;
        letter-spacing: normal;
        color: $white;
        text-transform: uppercase;
    }

    .content-details {
        margin-top: 80px;
        padding-bottom: 140px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .content-details__item {
            width: 300px;

            p {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 4.44;
                letter-spacing: normal;
                text-align: center;
            }

            .orange {
                color: $orange;
            }

            .green {
                color: $green;
            }

            .purple {
                color: $purple;
            }
        }
    }
}

.burger-menu{
    z-index: 100;
    display: none;
    background: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    span{
        display: block;
        height: 2px;
        width: 20px;
        margin: 2px;
        background: #888;
    }
}

@media (max-width:1200px) {
    .top-header {
        .top-header__nav {
            .menu {
                .menu__item {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (max-width:$mediaTabletHorizontal) {
    .top-header {
        .top-header__nav {
            position: relative;
            .menu {
                z-index: 0;
                opacity: 0;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 0;
                background: green;
                transition: ease 1s all;
                .menu__item{
                    .menu__link{
                        font-size: 20px;
                    }
                }
            }
            .menu.active{
                opacity: 1;
                right: 100px;
                top: -25px;
                li{
                    a{
                        font-size: 30px;
                    }
                }
            }
            .burger-menu{
                display: flex;
            }
        }
    }
}

@media (max-width: 550px){
    .container{
        padding: 0 40px;
    }
}