@import "../mixins/media";
@import "../utils/variables";


header {
    padding-top: 80px;
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header__overlay {
    padding-top: 60px;
    background: rgba(38, 39, 50, 0.85);
}

.top-header {
    z-index: 100;
    padding: 24px 0;
    background: $white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);

    .container {
        display: flex;
        justify-content: space-between;
    }

    .top-header__nav {
        .menu {
            display: flex;
            margin: 0;

            .menu__link_active {
               color: $primary !important;
               border-bottom: 2px solid $primary;
            }

            .menu__item {
                list-style: none;
                margin-left: 30px;

                .menu__link {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.93;
                    letter-spacing: normal;
                    color: #272727;
                }
            }
        }
    }
}

.content {
    text-align: center;

    .content__title {
        font-family: 'Libre Baskerville', serif;
        margin-top: 150px;
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: $white;
    }

    .content__btn {
        border-radius: 25px;
        background-color: $primary;
        padding: 15px 40px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 5;
        letter-spacing: normal;
        color: $white;
        text-transform: uppercase;
        transition: ease 0.2s all;
        &:hover{
            background: $white;
            color: $primary;
        }
    }

    .content-details {
        margin-top: 80px;
        padding-bottom: 140px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .content-details__item {
            width: 300px;

            p {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 4.44;
                letter-spacing: normal;
                text-align: center;
            }

            .orange {
                color: $orange;
            }

            .green {
                color: $green;
            }

            .purple {
                color: $purple;
            }
        }
    }
}

.burger-menu {
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    span {
        display: block;
        height: 2px;
        width: 20px;
        margin: 2px;
        background: #000;
    }
}

@media (max-width:1200px) {
    header {
        background: url(../img/1.jpg) no-repeat center;
    }

    .top-header {
        .top-header__nav {
            .menu {
                .menu__item {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (max-width:$mediaTabletHorizontal) {
    .top-header {
        .top-header__nav {
            position: relative;

            .menu {
                // display: none;
                z-index: 0;
                opacity: 0;
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0px;
                top: 81px;
                background: $white;
                transition: ease 1s all;
                height: 100vh;
                width: 100vw;
                visibility: hidden;
                .menu__item {
                    .menu__link {
                        font-size: 30px;
                    }
                }
            }

            .menu.active {
                visibility: visible;
                opacity: 1;
                left: -200px;
                top: 81px;

                li {
                    a {
                        font-size: 30px;
                    }
                }
            }

            .burger-menu {
                display: flex;
            }
        }
    }
}

@media (max-width: 550px) {
    .content .content__title {
        font-size: 35px;
    }

    .container {
        padding: 0 40px;
    }
}