.portfolio {
    margin-top: 150px;
    margin-bottom: 150px;
    background: $white;
  
    .portfolio__content {
        
        .portfolio__row {
            display: flex;
            .portfolio-item {
                display: flex;
                width: 360px;
                height: 288px;
                margin: 10px;
                overflow: hidden;
                
                &:hover{
                    .portfolio-item__about{
                        margin-top: 0px;
                        opacity: 100%;
                        
                        
                    }
                }
                .portfolio-item__about{
                    opacity: 0;
                    background: rgba(0,0,0,0.5);
                    width: 350px;
                    height: 288px;
                    margin-top: 280px;
                    transition: ease 0.5s all;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    svg{
                        cursor: pointer;
                        margin-top: 80px;
                    }
                }
                .portfolio-item__title{
                    background:$white;
                    height: 30%;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    h4{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 3.56;
                        letter-spacing: 0.9px;
                        text-align: center;
                        color: #313131;
                    }
                }
            }
        }
    }
}
#portfolio1{
    background: url(../img/portfolio_1.png);
}
#portfolio2{
    background: url(../img/portfolio2.png);
}
#portfolio3{
    background: url(../img/portfolio3.png);
}
#portfolio4{
    background: url(../img/portfolio4.png);
}
#portfolio5{
    background: url(../img/portfolio5.png);
}
#portfolio6{
    background: url(../img/portfolio6.png);
}
#portfolio7{
    background: url(../img/portfolio7.png);
}
#portfolio8{
    background: url(../img/portfolio8.png);
}
#portfolio9{
    background: url(../img/portfolio9.png);
}

@media (max-width:$mediaLaptop){
    .portfolio__row{
        justify-content: center;
        flex-wrap: wrap;
    }
}