.price {
    background-color: #f7f7f7;
    padding-top: 150px;
    padding-bottom: 150px;
    .price-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card__item {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
            background: #fff;
            margin: 15px;
            text-align: center;
            padding-bottom: 40px;
            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 4;
                color: #313131;
            }

            .card__price {
                border-radius: 50%;
                margin: 0 90px;
                padding: 20px 20px;
                color: white;

                h4 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 25px;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 13px;
                }
            }

            ul {
                padding: 20px 0;

                li {
                    padding-bottom: 5px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 2.67;
                    font-size: 15px;
                    color: #616161;
                }
                span{
                    font-weight: bold;
                }
            }

            .btn {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 5;
                letter-spacing: normal;
                text-align: center;
                border-radius: 25px;
                padding: 10px 40px;
                transition: ease 0.2s all;
            }
        }
        .card__item_primary{
            border-top: 4px solid $primary;
            .card__price{
                background: $primary;
            }
            .btn{
                color: $primary;
                border: 2px solid $primary;
                &:hover{
                    background: $primary;
                    color: $white;
                }
            }
        }
        .card__item_green{
            border-top: 4px solid $green;
            .card__price{
                background: $green;
            }
            .btn{
                color: $green;
                border: 2px solid $green;
                &:hover{
                    background: $green;
                    color: $white;
                }
            }
        }
        .card__item_purple{
            border-top: 4px solid $purple;
            .card__price{
                background: $purple;
            }
            .btn{
                color: $purple;
                border: 2px solid $purple;
                &:hover{
                    background: $purple;
                    color: $white;
                }
            }
        }
    }
}