.testimonials {
    background: url(../img/4.jpg);
    background-attachment: fixed;

    .overlay{
        background: rgba(38, 39, 50, 0.85);
        padding-top: 145px;
        padding-bottom: 150px;
        
    }
    .title,
    .title__desc {
        color: $white;
    }

    .swiper-slide{
        .swiper-slide__img{
            width: 384px;
            height: 399px;
        }

        .swiper-slide__description{
            position: absolute;
            left: 384px;
            top: 40px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
            background-color: #ffffff;
            padding: 40px 80px;
            
            

            .swiper-slide__text{
                width: 624px;
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.8;
                letter-spacing: normal;
                text-align: left;
                color: #616161;
            }

            .swiper-slide__signature {
                font-family: 'Sacramento', cursive;
                font-size: 40px;
                line-height: 2;
                color: #272727;
            }

            .sswiper-slide__name {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: normal;
                text-align: left;
                color: #272727;
            }

            .swiper-slide__job {
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: #fc5f45;
            }
        }
    }
    .swiper-pagination{
        display: flex;
        justify-content: flex-end;
        span{
            width: 18px;
            height: 18px;
            
        }
        .swiper-pagination-bullet-active{
            background: #fc5f45;
        }
    }
}

@media (max-width: 1200px){
    .swiper-slide__description{
        width: unset !important;
        top: 10px !important;
        p{
            width: unset !important;
        }
    }
}
@media(max-width:990px){
    .swiper-slide__img{
        display: flex;
        justify-content: center;
    }
    .swiper-slide__description{
        position: static !important;
    }
}
@media(max-width:320px){
    .title{
        font-size: 35px !important;
    }
    .title__desc{
        font-size: 10px !important;
    }
}