.video {
    background: url(../img/2.jpg) center center;
    background-attachment: fixed;
    .video__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg{
            cursor: pointer;
        }
        .video__title {
            margin: 0 0 30px;
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.67;
            letter-spacing: normal;
            color: #ffffff;
        }
        .video__desc{
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 5.33;
            letter-spacing: normal;
            color: #ffffff;
            margin: 0;
        }

    }
}
.video__overlay{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background: rgba(38, 39, 50, 0.85);
}
.modal{
    display: none;
    .modal__overlay{
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.7);
    }
    .modal__close{
        cursor: pointer;
        color: $white;
        font-size: 60px;
        position: fixed;
        top: 30px;
        right: 50px;
    }
    .modal__content{
        
        background: $white;
        margin: auto;
        width: 600px;
        height: 600px;
        margin-top: 20vh;
        //position center
    }
}