section.blog
    .container
        h2.title Our Blog.
        p.title__desc We understand your requirement and provide quality works.
        .posts
            .main-post.post_primary
                img(src="img/blog.png" alt="")
                .post-info
                    h3.author Damian Schreiber
                    p.data December 10, 2015
                .post-content
                        h3.post-title Facebook’s CNN livestream will test its place in the second screen era
                        p.post-desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]
            .post-mini
                .post.post_green
                    .post-info
                        h3.author Damian Schreiber
                        p.data December 10, 2015
                    .post-content
                        h3.post-title Google Street View adds virtual reality support
                        p.post-desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]
                .post.post_purple
                    .post-info
                        h3.author Damian Schreiber
                        p.data December 10, 2015
                    .post-content
                        h3.post-title Google Street View adds virtual reality support
                        p.post-desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]
                .post.post_orange
                    .post-info
                        h3.author Damian Schreiber
                        p.data December 10, 2015
                    .post-content
                        h3.post-title Google Street View adds virtual reality support
                        p.post-desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]