section.blog
    .container
        h2.title Our Blog.
        p.title__desc We understand your requirement and provide quality works.
        .posts
            .post_main.post_primary
                img(src="img/blog.jpg" alt="")
                .post__info
                    h3.post__author Damian Schreiber
                    p.post__data December 10, 2015
                .post__content
                        h3.post__title Facebook’s CNN livestream will test its place in the second screen era
                        p.post__desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]
            .post_mini
                .post.post_green
                    .post__info
                        h3.post__author Damian Schreiber
                        p.post__data December 10, 2015
                    .post__content
                        h3.post__title Google Street View adds virtual reality support
                        p.post__desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]
                .post.post_purple
                    .post__info
                        h3.post__author Damian Schreiber
                        p.post__data December 10, 2015
                    .post__content
                        h3.post__title Google Street View adds virtual reality support
                        p.post__desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]
                .post.post_orange
                    .post__info
                        h3.post__author Damian Schreiber
                        p.post__data December 10, 2015
                    .post__content
                        h3.post__title Google Street View adds virtual reality support
                        p.post__desc Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm #[a(href="#") Read Full Article]