section.contact
    .container
        h2.title Get in Touch.
        p.title__desc We understand your requirement and provide quality works.
        form().form
            .row
                input(type="text" placeholder="Your Name")
                input(type="text" placeholder="Your Email")
            .row
                input(type="text" placeholder="Subject")
                input(type="text" placeholder="Project Budget")
            .row.test
                textarea(placeholder='Message')
            .row
                button(type="submit") Send Message    