section.footer-nav
    .container
        .bottom-nav
            .footer-item
                a(href="").logo
                        img(src="img/logo-white.png" alt="Alexic")
            .footer-item
                h3.footer-item_green Alexis LLC.
                p 4125 Brighton Circle Road <br> Little Falls, MN 56345
            .footer-item
                h3.footer-item_purple Alexis LLC UK.
                p 81 Golden Knowes Road <br>FRESHFIELD   L37 6TP
            .footer-item
                h3.footer-item_orange Follow Us.
                .social
                    a(href="#")
                        img(src="img/facebook.png", alt="")
                    a(href="#")
                        img(src="img/twitter.png", alt="")
                    a(href="#")
                        img(src="img/insta.png", alt="")
                    a(href="#")
                        img(src="img/google.png", alt="")
        .about__border
            .border-primary
            .border-green
            .border-purple
            .border-orange