header.header
    .top-header
        .container
            .logo
                img(src="img/logo.png" alt="Alexic")
            nav.header__nav
                ul.menu
                    li.menu__item
                        a(href="#").menu__link About Us
                    li.menu__item
                        a(href="#").menu__link Our Focus
                    li.menu__item
                        a(href="#").menu__link Portfolio
                    li.menu__item
                        a(href="#").menu__link Our Team 
                    li.menu__item
                        a(href="#").menu__link Work Steps
                    li.menu__item
                        a(href="#").menu__link Pricing 
                    li.menu__item
                        a(href="#").menu__link Testimonials
                    li.menu__item
                        a(href="#").menu__link Blog
                    li.menu__item
                        a(href="#").menu__link Contact
    .container
        .header__content
            h1.header__title We design things with love<br> and passion.
            a(href="#").header__btn Our Works
            .content-details
                .content-details__item
                    img(src="img/header-icon-green.png" alt="")
                    p.content-details__desc_green Fixed price projects
                .content-details__item
                    img(src="img/header-icon-purple.png" alt="")
                    p.content-details__desc_purple Receive on time
                .content-details__item
                    img(src="img/header-icon-orange.png" alt="")
                    p.content-details__desc_orange Satisfaction guranteed    
