header.header
    .top-header
        .container
            .logo
                a(href="")
                    img(src="img/logo.png" alt="Alexic")
            nav.top-header__nav
                ul.menu
                    li.menu__item
                        a(href="#").menu__link About Us
                    li.menu__item
                        a(href="#").menu__link Our Focus
                    li.menu__item
                        a(href="#").menu__link Portfolio
                    li.menu__item
                        a(href="#").menu__link Our Team 
                    li.menu__item
                        a(href="#").menu__link Work Steps
                    li.menu__item
                        a(href="#").menu__link Pricing 
                    li.menu__item
                        a(href="#").menu__link Testimonials
                    li.menu__item
                        a(href="#").menu__link Blog
                    li.menu__item
                        a(href="#").menu__link Contact
                .burger-menu
                    span
                    span
                    span
    .container
        .content
            h1.content__title We design things with love<br> and passion.
            a(href="#").content__btn Our Works
            .content-details
                .content-details__item
                    img(src="img/header-icon-green.png" alt="")
                    p.green Fixed price projects
                .content-details__item
                    img(src="img/header-icon-purple.png" alt="")
                    p.purple Receive on time
                .content-details__item
                    img(src="img/header-icon-orange.png" alt="")
                    p.orange Satisfaction guranteed    
