section.portfolio
    .container
        h2.portfolio__title Portfolio.
        p.portfolio__desc We understand your requirement and provide quality works.
        .portfolio__content
            .portfolio__row
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
            .portfolio__row
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
            .portfolio__row
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")
                .portfolio-item
                    img(src="img/portfolio_1.png", alt="")