section.price
    .container
        h2.title Pricing Table.
        p.title__desc We understand your requirement and provide quality works.
        .price-cards
            .card__item.card__item_green
                h3 Starter
                .card__price
                    .card-price__content
                        h4 $125
                        p Per Month
                ul
                    li #[span 200GB] Online Storage
                    li #[span 20] Files Per Day
                    li #[span 2TB] Monthly Bandwidth
                    li Secure Platform
                    li 24/7 Customer Support
                    li Fast & Reliable 
                a(href="#").btn Get Started
            .card__item.card__item_primary
                h3 Ultimate
                .card__price
                    h4 $125
                    p Per Month
                ul
                    li #[span 200GB] Online Storage
                    li #[span 20] Files Per Day
                    li #[span 2TB] Monthly Bandwidth
                    li Secure Platform
                    li 24/7 Customer Support
                    li Fast & Reliable 
                a(href="#").btn Get Started
            .card__item.card__item_purple
                h3 Professional
                .card__price
                    h4 $125
                    p Per Month
                ul
                    li #[span 200GB] Online Storage
                    li #[span 20] Files Per Day
                    li #[span 2TB] Monthly Bandwidth
                    li Secure Platform
                    li 24/7 Customer Support
                    li Fast & Reliable 
                a(href="#").btn Get Started

