section.select
   .container
        h2.title Why Select Us?
        p.title__desc We understand your requirement and provide quality works.
        .row-container
            .row
                .row__item
                    .item__header
                        img(src="img/select1.png", alt="")
                        h3 Business <br> Growth
                    .item__desc
                        p Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor. 
                .row__item
                    .item__header
                        img(src="img/select2.png", alt="")
                        h3 Unlimited <br> Revisions
                    .item__desc
                        p Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.
                .row__item
                    .item__header
                        img(src="img/select3.png", alt="")
                        h3 Ultimate <br> Perfection
                    .item__desc
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
            .row
                .row__item
                    .item__header
                        img(src="img/select4.png", alt="")
                        h3 Smart <br> Experience
                    .item__desc
                        p Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor. 
                .row__item
                    .item__header
                        img(src="img/select5.png", alt="")
                        h3 Strict <br> Deadline
                    .item__desc
                        p Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator. 
                .row__item
                    .item__header
                        img(src="img/select6.png", alt="")
                        h3 Award-winning <br> Company
                    .item__desc
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
        .start
            h3 Start your journy with us now
            a(href="#") Get Started