section.services
    .container
        h2.services__title Our Focus.
        p.services__desc We understand your requirement and provide quality works.
        .cards
            .card__item.card__item-primary
                img(src="img/services_icon1.png", alt="").card__icon
                h3.card__title Web Design
                p.card__desc Analytics release series A financing launch party interaction design android angel investor.
            .card__item.card__item-green
                img(src="img/services_icon2.png", alt="").card__icon
                h3.card__title UX Design
                p.card__desc Analytics release series A financing launch party interaction design android angel investor.
            .card__item.card__item-purple
                img(src="img/services_icon3.png", alt="").card__icon
                h3.card__title Photogrpahy
                p.card__desc Analytics release series A financing launch party interaction design android angel investor.
            .card__item.card__item-orange
                img(src="img/services_icon4.png", alt="").card__icon
                h3.card__title App Development
                p.card__desc Analytics release series A financing launch party interaction design android angel investor.