section.stats
    .container
        .cards
            .stats__item
                img(src="img/stats-1.png", alt="").card__icon
                h3.stats__title 12,458+
                p.stats__desc Projects Completed
                .circle.circle-red
            .stats__item
                img(src="img/stats-2.png", alt="").card__icon
                h3.stats__title 1,796+
                p.stats__desc Satisfied Clients
                .circle.circle-green
            .stats__item
                img(src="img/stats-3.png", alt="").card__icon
                h3.stats__title 1,000+
                p.stats__desc Positive Feedbacks
                .circle.circle-purple
            .stats__item
                img(src="img/stats-4.png", alt="").card__icon
                h3.stats__title 1,500+
                p.stats__desc Freebies Released
                .circle.circle-orange