section.steps
    .container
        h2.title Work Steps.
        p.title__desc We understand your requirement and provide quality works.
        .steps__content
            .steps__row
                .steps__bg_primary.steps__bg
                .steps__desc_left.steps__desc_primary
                    span 01
                    h3 Project Understanding
                    p Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            .steps__row
                .steps__bg.steps__bg_green
                .steps__desc_right.steps__desc_green
                    span 02
                    h3 Research & Planning
                    p Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            .steps__row
                .steps__bg.steps__bg_purple
                .steps__desc_left.steps__desc_purple
                    span 03
                    h3 Wireframe & Design
                    p Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            .steps__row
                .steps__bg.steps__bg_orange
                .steps__desc_right.steps__desc_orange
                    span 04
                    h3 Development
                    p Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.



