section.subscribe
    .container
        h2 Subscribe to Newsletter
        form()
            input(
                type="text"
                placeholder='Enter your email'
            )
            button(type="submit") Subscribe now