sections.team
    .container
        h2.title Our Team.
        p.title__desc We understand your requirement and provide quality works.
        .cards
            .card__item.card__item-primary
                img(src="img/team.png", alt="").card__icon
                h3.card__title Michael Schmitt
                p.card__desc Founder & CEO
            .card__item.card__item-green
                img(src="img/team.png", alt="").card__icon
                h3.card__title David Krämer
                p.card__desc Lead Developer
            .card__item.card__item-purple
                img(src="img/team.png", alt="").card__icon
                h3.card__title Anna Schröder
                p.card__desc Designer
            .card__item.card__item-orange
                img(src="img/team.png", alt="").card__icon
                h3.card__title Jason Teichmann
                p.card__desc Consultant
        .tabs
            h3 About Bennet.
            .tabs__content
                p Monetization first mover advantage iPad. Interaction design buzz handshake. Stealth agile development branding. Backing facebook hackathon conversion startup scrum project niche market business-to-consumer paradigm shift traction. Rockstar bandwidth twitter ownership success disruptive series A financing user experience buyer client social proof validation hypotheses. User experience crowdfunding facebook seed round A/B testing mass market. 
                .social
                    div
                        a(href="http://", target="_blank", rel="noopener noreferrer") Facebook
                        a(href="http://", target="_blank", rel="noopener noreferrer") Twitter
                        a(href="http://", target="_blank", rel="noopener noreferrer") LinkedIn
                        a(href="http://", target="_blank", rel="noopener noreferrer") Instagram