section.testimonials
    .container
        h2.title Testimonials.
        p.title__desc We understand your requirement and provide quality works.
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .avatar
                        img(src="img/avatar1.png", alt="")
                    .description
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                        p.signature Melina
                        p.name Melina Albrecht
                        p.job Founder, TingTong
                .swiper-slide
                    .avatar
                        img(src="img/avatar1.png", alt="")
                    .description
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                        p.signature Melina
                        p.name Melina Albrecht
                        p.job Founder, TingTong
                .swiper-slide
                    .avatar
                        img(src="img/avatar1.png", alt="")
                    .description
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                        p.signature Melina
                        p.name Melina Albrecht
                        p.job Founder, TingTong
                .swiper-slide
                    .avatar
                        img(src="img/avatar1.png", alt="")
                    .description
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                        p.signature Melina
                        p.name Melina Albrecht
                        p.job Founder, TingTong
                .swiper-slide
                    .avatar
                        img(src="img/avatar1.png", alt="")
                    .description
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                        p.signature Melina
                        p.name Melina Albrecht
                        p.job Founder, TingTong
                .swiper-slide
                    .avatar
                        img(src="img/avatar1.png", alt="")
                    .description
                        p Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                        p.signature Melina
                        p.name Melina Albrecht
                        p.job Founder, TingTong
            .swiper-pagination
