section.video
    .container
        .video__content
            h2.video__title Explore Our Awesomeness
            img(src="img/play-icon.png", alt="")
            p.video__desc Click to play the video