<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Alexic
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    body
        include common/header.pug
        block header
        include common/about.pug
        block about
        include common/services.pug
        include common/video.pug
        include common/portfolio.pug
        include common/team.pug
        include common/stats.pug
        include common/steps.pug
        include common/price.pug
        include common/testimonials.pug
        include common/select.pug
        include common/blog.pug
        include common/subscribe.pug
        footer
            include common/contact.pug
            include common/footer-nav.pug
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="js/index.min.js")